@{
    ViewData["Title"] = "DepartmentSystem";
}

<div class="text-center">
    <h1 class="display-4">社員・部門管理システム</h1>
</div>
<div class="text-center">

    <section class="system-card">
        <h2 style="margin-bottom:20px;">部門管理</h2>

        <div class="button-group" style="margin-bottom:50px;">
            <a class="btn btn-lg btn-primary" asp-controller="DepartmentList" asp-action="ShowDept">
                部門一覧
            </a>

            <a class="btn btn-lg btn-primary" asp-controller="DepartmentRegister" asp-action="Enter">
                部門登録
            </a>
        </div>
    </section>

</div>