@{
    ViewData["Title"] = "EmployeeSystem";
}

<div class="text-center">
    <h1 class="display-4">社員・部門管理システム</h1>
</div>
<div class="text-center">

    <section class="system-card">
        <h2 style="margin-bottom:20px;">社員管理</h2>

        <div class="button-group" style="margin-bottom:50px;">
            <a class="btn btn-lg btn-primary" asp-controller="EmployeeList" asp-action="ShowEmp">
                社員一覧
            </a>

            <a class="btn btn-lg btn-primary" asp-controller="EmployeeRegister" asp-action="Enter">
                社員登録
            </a>
        </div>
    </section>

</div>
</section>

</div>